body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#calculator {
    background-color: #000000;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 10px 10px #00000030;
    width: 400px;
    max-width: 400px;
}

#display {
    background-color: #000000;
    color: #ffffff;
    text-align: right;
    font-size: 90px;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 25px 15px 10px 25px;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    place-items: center;
}

#buttons button {
    background-color: #9929EA;
    color: #FFF;

    font-size: 32px;
    text-align: center;

    border: 0;
    border-radius: 10px;

    width: 75px;
    height: 75px;
}